*{
    box-sizing: border-box;
}

.ul-menu{
    list-style: none;
    padding: 0%;
    background: linear-gradient(to bottom right, #EA3349, #F35C43);
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.ul-menu li a {
    font-family:'Bahnschrift Light','Agency FB';
    text-decoration: none;
    color:black;
    padding: 20px;
    display: block;
}

.ul-menu li {
    display: inline-block;
}

.ul-menu li a:hover{
    color: white;
    background: black;
}

h1{
    color: black;
    font-weight: normal;
    font-family:'Bahnschrift Light','Agency FB'; 
}

#sct-contenedor{
    background-image: linear-gradient(to bottom right, #EA3349, #F35C43);
    height: 375px;
    color: #fff;
    font-family:'Bahnschrift Light','Agency FB';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

.p-numeros{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family:'Bahnschrift Light','Agency FB'; 
}

.p-titulos{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family:'Bahnschrift Light','Agency FB'; 
}