*{
    box-sizing: border-box;
}

body{
    padding: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

h1{
    text-align: center;
}

#flex-container .pokemon{
    display: flex;
    align-items:flex-end;
    justify-content:space-evenly;
    border: 1px solid black;
    width: 1000px;
    height: 550px;
    padding: 10px;
}


.caja .img{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.caja{

    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    width: 250px;
    height: 400px;

}

h3{
    display: flex;
    margin: 0 auto;
    padding: 35px;
}

.votacion{
    display: flex;
    border: 2px solid black;
    width: 155px;
    height: 100px;
    margin: 0 auto;
}

