*{
    box-sizing: border-box;
}

.btn-morado{
    border: 1px solid #A46B9F;
    border-radius: 4px;
    background: #A46B9F;
    color: #fff;
    height: 40px;
}
.btn-morado:hover{
    background: #61185b;
    cursor: pointer;
}
a.regresar{
    font-size: 15px;
    border: 2px solid #61185b;
    background-color: #A46B9F;
    color: #fff;
    text-decoration: none;
    display: flex;
    margin: 2px;
    padding: 10px;
    width: 90px;
}
.regresar:hover{
    background: #61185b;
    cursor: pointer;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(14, 13, 13);
    text-align: center;
}
.caja{
    border: 2px solid #000;
    height: 100px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verde{
    background: #A3CB38;
}

.amarillo{

    align-self: flex-start;
    background: #FFC312;
}

.rojo{
    background: #EA2027;
    order: -1;
}

.azul{
    
    background: #0652DD;
}

.morado{
    align-self: flex-end;
    background: #833471;
}

#sct-contenedor{
    /*acomoda los elementos segun su eje secundario*/
    align-items: center;
    border: 2px solid  #353b48;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /*Permite acomodar los elementos hijos según su eje principal*/
    height: 100vh;
}

