/* Estilos de 0px en adelante*/
*{
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #373c3f;
    color: #ebebeb;
}

header #nav-mobile{
    display: flex;
    justify-content: space-between;
    min-height: 32px;
    padding-left: 4%;
}   

header #nav-mobile span{
    display: flex;
    align-items: center;
    justify-content: center;
}

header #nav-mobile .material-icons{
    background: #202529;
    min-height: 32px;
    min-width: 32px;
}

header #nav-desktop{

    display: none;
}

/* Inicio estilos sección cuadro de texto1 */
.texto{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.caja1{
    background-image: linear-gradient(to bottom right, #54a0ff, #1b77d3);
}

p{
    color: #ebebeb;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight:48px;
}

.texto2{
    color: #ebebeb;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

#sct-text .texto .caja1 span{
    color: black;
    
}
/* Fin estilos sección cuadro de texto1 */

/*Inicio de estilos del contenedor*/
#sct-contenedor{
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.cajas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.negra{
    background:#202529;
    width: 250px;
}

.negra p{
    color: #786fa6;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.morada{
    background: #B53471;
    width: 100px;
}

.morada span{
  color: #ebebeb;
}

/*Fin de estilos del contenedor*/

/* Inicio estilos sección imagenes */
#sct-imagenes{
    display: flex;
    flex-direction: column;
}
#sct-imagenes figure img{
    display: flex;
    width: 100%;
}

.caja{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 50%;
}

.flecha{
    background: #3B3B98;
}

#sct-imagenes .flecha span{
    color: white;
    font-weight: bold;
    
}

/* Fin estilos sección cuadros */

/*Inicio de ultimo texto*/
.texto3{
    background:#ecf0f1;
    padding: 20px;
}

h2{
    margin-bottom: 15px;
    color: #2980b9;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.texto3 p{
    color: #202529;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.texto4{
    background:#ecf0f1;
    padding: 20px;
}

.texto4 p{
    color: #202529;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

/*Fin de ultimo texto*/

/*Inicio de media querys*/

@media all and (min-width: 640px){
    header #nav-mobile{
        min-height: 75px;
    }
    header #nav-mobile .material-icons{
        min-width: 75px;
        min-height: 75px;
    }

}

@media all and (min-width: 980px){

    header #nav-mobile{
        display: none;
    }

    header #nav-desktop{
        display: flex;
        align-items: center;
        min-height: 100px;
        padding-left: 4%;
        justify-content: space-between;
        width: 60%;
    }

    header #nav-desktop a {
        color: #ebebeb;
        text-decoration: none;
    }

}

@media all and (max-width:980px){
    #sct-imagenes{
        flex-direction: column;
    }
    #sct-imagenes .caja{
        width: 100%;
    }

}

/*----------------------------------------------------------------*/
@media all and (min-width: 640px){
    .texto{
        height: 400px;
        width: 100%;
        padding-left: 40px;
    }

    p{
        font-size: 40px;
        font-weight:48px;
    }
    
    .texto2{
        font-size: 20px;
    }
     
    .negra{

        width: 550px;
    }

    .negra p{
        font-size: 15px;
   
    }

    .texto3{
        padding:50px;
    }
    
    .texto3 h2{
        margin-bottom: 30px;
    }
    
    .texto3 p{
        margin-bottom: 50px;
    }

}

/*----------------------------------------------------------------*/
@media all and (min-width: 980px){
    .texto{
        padding-left: 60px;
    }

    p{
        font-size: 60px;
    }
    
    .texto2{
        font-size: 30px;
    }
     
    .negra{

        height: 150px;
        width: 880px;
    }

    .negra p{
        font-size: 25px;
    }

    .morada{
        background: #B53471;
        width: 150px;
        height: 150px;
    }
    
    .morada span{
      color: #ebebeb;
      font-weight: bold;
    }


    #sct-imagenes{
        display: flex;
        flex-direction: row;
    }

    #sct-imagenes figure img{
        display: flex;
        width: 300px;
        height: 300px;
    }

    .caja{
        width: 300px;
        height: 300px;
    }
    
    .flecha{
        background: #3B3B98;
    }
    
    #sct-imagenes .flecha span{
        color: white;
        font-weight: bold;
        font-size: 40px;
        
    }

    .texto3{
        padding:50px;
    }
    
    .texto3 h2{
        margin-bottom: 20px;
    }
    
    .texto3 p{
        font-size: 20px;
        margin-bottom: 20px;
    }

}

/*----------------------------------------------------------------*/
@media all and (min-width: 1306px){
    .texto{
        padding-left: 60px;
    }

    p{
        font-size: 60px;
    }
    
    .texto2{
        font-size: 30px;
    }
     
    .negra{

        height: 150px;
        width: 1100px;
    }

    .negra p{
        font-size: 25px;
    }

    .morada{
        background: #B53471;
        width: 250px;
        height: 150px;
    }
    
    .morada span{
      color: #ebebeb;
      font-weight: bold;
    }


    #sct-imagenes{
        display: flex;
        flex-direction: row;
    }

    #sct-imagenes figure img{
        display: flex;
        width: 500px;
        height: 500px;
    }

    .caja{
        width: 500px;
        height: 500px;
    }
    
    .flecha{
        background: #3B3B98;
    }
    
    #sct-imagenes .flecha span{
        color: white;
        font-weight: bold;
        font-size: 40px;
        
    }

    .texto3{
        padding:50px;
    }
    
    .texto3 h2{
        margin-bottom: 20px;
    }
    
    .texto3 p{
        font-size: 20px;
        margin-bottom: 20px;
    }

}
